body {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    min-height: 100vh;
    color: $dark;
    background-color: $silver-100;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

a {
    color: $dark;
    outline: transparent;
}

button {
    appearance: none;
    line-height: 1.3;
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3;
    color: $darkBlue-900;
}

.link {
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(249, 250, 255, 1);
    transition: box-shadow 0.15s ease-in-out, text-shadow 0.15s ease-in-out,
        color 0.1s ease-in-out;
    &:focus {
        box-shadow: $box-shadow;
    }
    &:hover {
        color: $orange-900;
    }
    &:active {
        text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
        box-shadow: 0 0 0 2px rgba(255, 104, 56, 0);
        color: $dark;
    }
}
.footer__link--style {
    transition: text-shadow 0.15s ease-in-out, color 0.1s ease-in-out;
    &:focus,
    &:hover {
        color: $orange-900;
    }
    &:active {
        text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
        color: $dark;
    }
}
.btn {
    border-radius: 5px;
    color: $white;
    background-color: $orange-900;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        color 0.15s ease-in-out;
    &:focus {
        box-shadow: $box-shadow;
        background-color: rgba(255, 122, 80, 0.1);
        color: $orange-900;
    }
    &:hover {
        box-shadow: $box-shadow;
        background-color: rgba(255, 122, 80, 0);
        color: $orange-900;
    }
    &:active {
        box-shadow: 0 0 0 0;
        background-color: rgba(255, 122, 80, 0.1);
        color: $orange-900;
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 210px;
    min-height: 300px;
    padding: 20px 15px;
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 0 0 1px $silver-200;
    transition: box-shadow 0.15s ease-in-out;
    &__top,
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & img {
        margin-bottom: 10px;
        width: auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__top span {
        font-size: 15px;
        line-height: 1.2;
    }
    &__bottom span {
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        color: $darkBlue-900;
    }
    &__btn {
        font-size: 14px;
        line-height: 1.3;
        padding: 7px 16px;
    }
    &:hover {
        box-shadow: 0 0 0 1px $orange-900;
    }
}
