$silver-100: #f9faff;
$silver-200: #ececec;
$gray: #c2c2c2;
$orange-900:  #FF6838;
$darkBlue-900: #363853;
$dark: #31352b;
$white: #fff;

$box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
$background-01: rgba(255, 122, 80, 0.1);