.header {
    padding: 60px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header--fixed {
    position: fixed;
    left: 0;
    right: 0;
    padding: 20px 0;
    border-bottom: 1px solid $gray;
    background-color: $silver-100;
    transition: 0.15s;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        margin-right: 50px;
    }

    &__item:not(:last-child) {
        margin-right: 45px;
    }

    &__link {
        font-size: 18px;

        &--active {
            color: $orange-900;
        }
    }
}

.logo {
    border-radius: 5px;
    padding: 5px 2px 2px;
    transition: box-shadow 0.15s ease-in-out, 
                opacity 0.1s ease-in;

    &:focus {
        box-shadow: $box-shadow;
    }

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
    }
}

.user {
    display: flex;

    &__serch {
        display: flex;
        margin-right: 10px;

        &:focus-within .user__field {
            width: 200px;
            margin-right: 30px;
            box-shadow: $box-shadow;
            padding-left: 15px;
        }
    }

    &__field {
        padding: 0;
        transition: 0.5s;
        width: 0;
        border-radius: 5px;
        background-color: $white;
        font-size: 18px;
        color: $darkBlue-900;

        &::placeholder {
            color: $gray;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.3;
        }
    }

    &__btn,
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 44px;
        height: 44px;
        border-radius: 5px;
        background-color: transparent;
        transition: background-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out,
                    color 0.15s ease-in-out;

        &:focus {
            background-color: $background-01;
            box-shadow: $box-shadow;
        }

        &:hover {
            background-color: $background-03;
        }

        &:hover::before {
            background-color: $white;
        }

        &:active {
            background-color: $background-01;
            box-shadow: none;
        }

        &:active::before {
            background-color: $darkBlue-900
        }
        
        &::before {
            content: "";
            width: 22px;
            height: 22px;
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: $darkBlue-900;
        }
    }

    &__btn::before {
        mask-image: url('../images/sprite.svg#search_btn');
    }

    &__link::before {
        mask-image: url('../images/sprite.svg#buy_btn');
    }

    &__index {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 8px;
        right: 3px;
        font-size: 10px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        color: $white;
        background-color: $orange-900;
        transition: 0.15s;

        &:hover {
            background-color: $white;
            color: $orange-900;
        }

        &:active {
            background-color: $orange-900;
            color: $white;
        }

        &::before {
            content: "";
            position: absolute;
            width: 44px;
            height: 44px;
            left: -26px;
            top: -8px;
        }
    }
}